/* Soluzione qui */


/* **Modalità Tablet** (sopra i 768px)
- Il logo nell'header si allinea a sinistra
- Il padding del contenuto principale della pagina aumenta
- Compare il testo "(Dolce Tradizionale)"
- La grandezza del titolo diventa più grande
- Le informazioni della ricetta sotto il video si dispongono a griglia
- I bottoni social si allargano
- compare il banner pubblicitario
- l'immagine nella descrizione della ricetta viene circondata dal testo */



@media screen and (min-width: 768px) {


    .container{
        max-width: 80%;
    }

    /* header */

    #topbar {
        justify-content: flex-start;
    }

    header .recipe-name{
        font-size: 2rem;
    }


    /* main */

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: (100%/3);
    }

    .quick-notes li {
        width: 30%;
    }

    .social-networks .btn{
        padding: 10px 50px;
    }

    .ads{
        display: block;
    }

    .presentation img{
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
    }

}


/***Modalità Desktop**(sopra i 992px)
- La grandezza el titolo della ricetta aumenta ancora di più
- Le informazioni della ricetta tornano a disporsi una sotto l'altra
- Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro
- Compaiono i nomi delle piattaforme social
- Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti */


@media screen and (min-width: 992px){

    .container{
        width: 80%;
        /* max-width: 1000px; */
    }

    
    /* header */

    #topbar {
        justify-content: flex-start;
        height: 100%;
    }

    #logo{
        font-size: 2rem;
        padding: 5px 0px;
    }

    header .recipe-name{
        font-size: 2.5rem;
    }


    /* main */

    .recipe-card{
        display: flex;
        max-height: 530px;

       .recipe-video {
        position: relative;
        width: 70%;
        height: inherit;
        overflow: hidden;
        
       }

        .recipe-info{
            width: 30%;
        }

        .recipe-video iframe{
            aspect-ratio: 3/1;
            width: 100%;
            zoom: inherit;
            overflow: hidden;
    

        }

        .quick-notes ul {
            display: flex;
            flex-wrap: wrap;
            gap:inherit;
        }
    
        .quick-notes li {
            width: 100%;
        }

    }

    .social-networks{
        padding: 10px 10px;
        gap: inherit;
        
        .btn{
            padding: 10px 25px;
        }

        .label{
            display: inline-block;
        }
        
    }

    footer{
        display: flex;
        justify-content: space-between;

        address{
            text-align: left;
        }
    }
}




/* - l'immagine nella descrizione della ricetta viene circondata dal testo anche su mobile ma solo se c'è spazio sufficiente, quindi a partire da 576px
- I bottoni social si allagano già su dispositivi mobile più grandetti (576px) */